body {
  text-align: center;
  background-color: #0a56ed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

h1 {
  font-size: 7em;
  margin-top: 100px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5em;
}

a {
  color: #fff;
  cursor: pointer;
}
