<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <meta charset="utf-8">
        <title>Angular</title>
        <link rel="stylesheet" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="app.js" charset="utf-8"></script>
    </head>
    <body>
        <div ng-controller="TodoListController as todo">
            <h1>Hello {{ todo.name }}</h1>
            <h2>{{ todo.name }} {{ todo.surname }}</h2>
            <form>
                <input ng-model="todo.name" type="text" name="name">
                <input type="button" ng-click="todo.change()" value="Change">
            </form>
        </div>
    </body>
</html>
