<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    # RewriteBase /paskaita-9
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ web/index.php [L]
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin: *
</IfModule>
